- hosts: app
  gather_facts: true
  tasks:
    - name: Show host's ip
      debug:
        msg: {{ ansible_default_ipv4.address }}
    - name: Show hostname
      debug:
        msg: {{ ansible_host }}
